body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #005f00;
    gap: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.yes-man {
    width: 33%;
    height: 33%;
}

.t-content {
    margin-top: 30px;
    height: 40vh;
    background-color: #008e00;
    color: white;
    border-radius: 8px;
}

.t-introduction {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0px 30px 0px 30px;
    border-color: red;
    text-align: center;
    flex: 1 1 auto;
}

.t-desc {
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.t-text {
    text-align: center;
    color: lightgray;
    font-weight: bold;
}

.all-counters {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px
}

.m-counter-cont {
    background-color:#00ee00;
    height: 20vh;
    border-radius: 8px;
    display: flex;  
    justify-content: center;
    width: 30%;
    height: 30%;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-counters {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 25%;
    flex-wrap: wrap;
}

.right-counters {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 25%;
    flex-wrap: wrap;
}

.counter-misc {
    display: flex;
    align-items: center;
    background-color: #00ee00;
    width: 40%;
    border-radius: 8px;
}

.misc-counter {
    margin-left: 10px;
}

.misc-quests {
    width: 60%;
    margin-left: 10%;
}

.actual-counter {
    font-size: 50px;
    margin: 0;
}

.c-quests {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.mid-content {
    background-color: #00ee00;
    border-radius: 8px;
    margin: 0px 1% 0px 1%;
}

.faction {
    color: red;
    display: flex;
    justify-content: center;
}

.note {
    color: darkred;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.m-button {
    width: 100px;
    margin-bottom: 35px;
    border-radius: 8px;
    margin-top: 10px;
}

.m-title {
    display: flex;
    justify-content: center;
}

.m-intro {
    color: red;
}

.NCR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Legion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quests {
    display: flex;
    justify-content: space-around;
}

.cor {
    margin-top: 5px;
}